/* Global Layout Set-up */
* {
  box-sizing: border-box;
  /* outline: 1px red solid; */
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Cabin', sans-serif;
  background: #ECEDFF;

}

ul {
  list-style-type: none;
  padding-left: 0;

}
li {
  transition: all 0.5s;
}
li:hover {
  transform: scale(1.05);
}

a {
  text-decoration: none;
  color: black;

}
a:hover {
  color: grey;
}

p {
  font-size: 1.25em;
}
/* Link Styles */

.nav a {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25em;
  width: 100%;
  margin: .75em auto;
  padding: .75em;
  background: white;

}

/* Section Styles */

.main-header {
  padding: 1em;
}

.section-title {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  padding: 2em;
}
.main-content {
  background: white;
  padding-bottom: 3em;
}

.page-desc {
  padding: 0 1em;


}
.contact-info {
  font-size: 1.3em;
  padding: 1em;
}
.main-footer {
  padding: 0 1em 2em 1em;
  margin-bottom: 2em;
  position: relative;
}
.secondary-nav {
  display: inline-block;
  position: absolute;
  right: 16px;
  padding: 0;
  margin:0;
}
.name-bottom {
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  position: absolute;
  left: 16px;
  padding: 1em;
  margin: 0;

}

.back-top {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  padding: 1em;
  margin: 0;
}

.super-footer {
  border-top: 1px solid grey;
  margin-top: 2em;
  padding: 1em 0;
}
.nav2 {
  display: none;
}

/* Images */

.profile-image {
  width: 80%;
  max-width: 367px;

}

.page-graphics {
  width: 100%;
  padding: 0 1em;
}

/* Clearfix */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}



/* Styles for larger screens */
@media (min-width: 768px) {
/* Header Elements */
  .nav li {
    display: inline-block;
    margin: 0 1em;
    padding: 0;
  }
  .nav a {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25em;
    margin: 0 auto;
    padding: .75em 1em;
    background-color: inherit;

  }
  .intro-container {
    max-width: 830px;
    margin: 0 auto;
  }
  .intro {
    display: inline-block;
    width: 50%;
    text-align: left;
    vertical-align: top;
    margin-top: 0;

  }
  .profile-image {
    float: right;
    width: 40%;
    max-width: 367px;
  }
/* Body Elements */
.main-content {
  padding-bottom: 2em;
}
  .page-desc {
    font-size: 1.125em;
  }
  .pages li {
    display: inline-block;
    margin: 0 1em 1em 1em;
    width: 45%;
    vertical-align: top;
  }
  .main-footer {
    margin-bottom: 3em;
  }
  .main-footer p {
    max-width: 800px;
    margin: 0 auto;
  }
  .back-top{
    display: none;
  }
  .secondary-nav {
    width: 60%;
    text-align: right;

  }
  .secondary-nav li {
    display: inline-block;
    margin: 0 auto;
  }
  .nav2{
    display: inline-block;
    padding: 1em;
    margin: 0 .5em;
    text-transform: uppercase;
    font-weight: bold;

  }
}

@media (min-width: 1024px) {
/* Header Elements */

  .name {
    display: inline-block;
    position: absolute;
    left: 0;
    margin-left: 36px;
  }
  .nav {
    display: inline-block;
    text-align: right;


    }
  .main-header {
    padding: 1em 0;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    text-align: right;
  }
  .nav li {
    display: inline-block;
    margin: 0 1em;
    padding: 0;
  }
  .nav a {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25em;
    margin: 0 auto;
    padding: .75em 1em;
    background-color: inherit;

  }
  .intro-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;


  }
  .intro {
    display: inline-block;
    font-size: 1.5em;
    width: 55%;
    text-align: left;
    vertical-align: top;
    margin-left: 36px;


  }
  .profile-image {
    float: right;
    width: 40%;
    max-width: 367px;
    margin-right: 36px;
  }
/* Body Elements */
.main-content {
  padding-bottom: 2em;
}
  .page-desc {
    font-size: 1.125em;
  }
  .pages {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;


  }
  .page-graphics {
    padding: 0;
  }
  .pages li {
    display: inline-block;
    margin: 0 .75em;
    width: 30%;
    vertical-align: top;
  }
  .main-footer {
    margin-bottom: 3em;
  }
  .main-footer p {
    max-width: 800px;
    margin: 0 auto;
  }
  .back-top{
    display: none;
  }
  .secondary-nav {
    width: 60%;
    text-align: right;

  }
  .secondary-nav li {
    display: inline-block;
    margin: 0 auto;
  }
  .nav2{
    display: inline-block;
    padding: 1em;
    margin: 0 .5em;
    text-transform: uppercase;
    font-weight: bold;

  }



}
